extends layout

block content
  h1= title
  
  div
  p Improve your knowledge of collocations of English words with  #[strong #{productName}].
  p Learn and master which English words go together!
  p Help poor confused Collo Kate learn better English.
  img(src="/images/confused_collokate_photo_small.jpg")
  
