extends layout

block content
  h1= title
  
  div
  p Improve your knowledge of collocations of English words with this site.
  p Learn and master which English words go together!
  p Here is confused Collo Kate
  img(src="/images/confused_collokate_photo_small.jpg")
  
