extends layout

block content
  h1= title
  p Welcome to #{title}
  p Hello

  div
  each topic in ['sports','health','travel','money']
    div(class="topic-button")
        a(href="/domain/#{topic}") #{topic}
