doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="header") 
     a(href="/") 
       img(src="/images/collocations-logo.png" id="main-logo")
     SOME MENU OPTIONS
    block content
    
