doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="header") 
      a(href="/") 
        img(src="/images/collocations-logo.png" id="main-logo")
      div(id="header-links") 
        ul
          li HELP 
          li ABOUT 
          li ETC
          li MY ACCOUNT
    block content
    
