doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(id="header") 
      a(href="/") 
        img(src="/images/collocations-logo.png" id="main-logo")
      div(id="header-links") 
        ul        
          li 
            a(href="/") Home 

          li 
            a(href="/about") About 
          li Help
          li FAQ
          li |
          li My account
          li Log out 
          
    block content
    footer Copyright &copy; 2015
    
