body {
  padding: 50px;
  padding-top:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      z-index:1;
}

footer {
	clear:both;
	bottom:0;
	  border-top:solid 1px #666;
    bottom:0;
    height:15px;
    padding:5px;
    position:fixed;
    width:100%;
    z-index:1000;
    padding-bottom:5px;
    background-color: white;
}

a {
  color: #00B7FF;
}

.topic-button {
	color: white;
	font-size: 20px;
	background-color: #9DBE00;
	float:left;
	min-width:100px;
	margin: 20px;
	margin-left:0;
	margin-right:30px;
	padding: 8px;
	padding-bottom: 10px;
	 border-radius: 9px 0px;
	 text-align:center;

}

.topic-button  a {
	color: white;
	text-decoration: none;
	
}


#header {
	background-color: #800080;
	color:white;
	padding:5px;
}

#header-links {
	text-align:right;
	display:inline-block;
}

#header-links a {
color: white;
	text-decoration: none;
	}

#header-links  ul {
	list-style-type: none;
	display:inline;
}

#header-links  li {
	list-style-type: none;
	display:inline;
	float:left;
	padding-left:20px;
}

#siteTitle {
	font-size: 20px;
	color: white;
}

#main-logo {
	padding-right:10px; float:left;
}
#mainContent {
clear:both;
}
